<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
	<!-- load the properties file sport.properties -->


	<context:property-placeholder
		location="classpath:sport.properties" />

	<!-- <context:property-placeholder location="classpath:sport.properties" 
		/> -->
	<!-- <bean id="myCoach" class="iuh.fit.se.libs.TrackCoach" > </bean> -->
	<bean id="myFortune" class="iuh.fit.se.libs.HappyFortuneService">
	</bean>

	<bean id="myCoach" class="iuh.fit.se.libs.BaseballCoach">
		<constructor-arg ref="myFortune" />
		<property name="emailAddress" value="${foo.email}"></property>
		<property name="team" value="${foo.team}"></property>
	</bean>

</beans>
